*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 80%;
    /* background-color: rgb(197, 144, 197); */
    padding: 34px;
    margin: auto;
}
.container h1,p{
    text-align: center;

} 

p{
    font-size: 16px;
}
.container input,textarea{
    display: block;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 16px;
    width: 80%;
    margin: 11px 0;
    padding: 7px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 14px;
    cursor: pointer;
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: .8;
}

.submitMsg{
    /* font-size: 16px; */
    color: green;
}